<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" />
	<package id="firefox" />
	<package id="7zip.install" />
	<package id="notepadplusplus.install" />
	<package id="sysinternals" />
	<package id="atom" />
	<package id="visualstudiocode" />
	<package id="treesizefree" />
	<package id="dropbox" />
	<package id="conemu" />
	<package id="visualstudio2017enterprise" />
	<package id="totalcommander" />
	<package id="autohotkey.install" />
	<package id="sourcetree" />
	<package id="visualstudio2015enterprise" />
	<package id="vsts-sync-migrator" />
	<package id="github-desktop" />
	<package id="stylecop" />
</packages>
</xml>
